/* colours */
$white: rgba(255,255,255,1);
$gray: rgba(225,225,225,1);
$grayLight: rgba(235,235,235,1);
$grayDark: rgba(120,120,120,1);
$black: rgba(0,0,0,1);
$id1: rgba(246,158,31,1);
$id1Light: rgba(252,190,101,1);
$id1Dark: rgba(194,130,37,1);
$id2: rgba(255,190,40,1);
$id2Light: rgba(250,210,120,1);
$id2Dark: rgba(205,150,40,1);

/* structure */
$centerArrow: calc((100% - 116px) / 2);
$bgDivWidth: 100vw;
$bgDivHeight: 100vh;
$bgDivHeightIntMarge: calc(100vh - 120px);
// $bgDivHeight: calc(100vh - 120px);

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}
*, *:after, *:before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }
input[type="button"], input[type="submit"] { -webkit-appearance: none; -webkit-border-radius: 0; }
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

/* ------------------------ DESKTOP ------------------------ */
/* ------------------------ DESKTOP ------------------------ */
/* ------------------------ DESKTOP ------------------------ */
@media screen and (min-width: 991px) {

    // can only extend a selector that is inside of the @media and it have to have different names in each @media
    %transDesk1 {
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    %transDesk2 {
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -o-transition-duration: 1s;
        -ms-transition-duration: 1s;
        transition-duration: 1s;
    }

    body {
        background-color: $white;
        margin: 0 auto;
        position: relative;
        font-family: arial;
        font-size: 1rem; /*16px*/
        min-width: 100%;
        min-height: 100vh;
    }
    html {
        -webkit-font-smoothing: antialiased;
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    a {
        color: $id1;
        text-decoration: none;
        @extend %transDesk1;
        &:hover, &:focus {
            color: $id1Dark;
            text-decoration: none;
        }
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    header {
        background: $id1;
        border-bottom: $black solid 1px;
        #logo-desktop {
            max-width: 1200px;
            height: 100px;
            margin: 0 auto;
            img {
                height: 100px;
                margin-left: -1.2em;
            }
        }
        #toggle-menu {
            display: none;
        }
        nav#menu {
            margin: 0 auto;
            position: relative;
            max-width: 1200px;
            .menu {
                padding: 1.3em 0 1.1em 0;
                top: 0;
                right: 0;
                list-style: none;
                position: absolute;
                width: auto;
                display: block !important;
                li {
                    display: inline-block;
                    flex: auto;
                    text-align: center;
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                    a {
                        color: $white;
                        text-decoration: none;
                        font-size: 1.3em;
                        font-weight: normal;
                        display: block;
                        padding: 0.9em;
                        background: $id1Dark;
                        border-top: $id1Light solid 1px;
                        border-botton: $id1 solid 1px;
                        &:hover {
                            color: $gray;
                            background: $id1;
                        }
                        &.active {
                            background: $id2;
                        }
                        &.cart {
                            background: $id1 url(../img/cart.png) 0 0 no-repeat;
                            background-size: contain;
                            text-indent: 45px;
                            &.active {
                                background: $id2 url(../img/cart.png) 0 0 no-repeat;
                                background-size: contain;
                                text-indent: 45px;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        width: 100vw;
        display: block;
        padding: 1em;
        margin: 2em auto 0 auto;
        bottom: 0;
        text-align: center;
        font-size: 1em;
        background-color: $grayLight;
        border-top: $id1 solid 1px;
        position: absolute;
        color: $id1Dark;
    }
    section#main {
        padding: 3em 0 7em 0;
        margin: 0 auto;
        max-width: 1200px;
        h1 {
            font-size: 2em;
            color: $grayDark;
            border-bottom: $id1 solid 1px;
            margin: 1em 0;
            padding: 0 0 0.5em 0;
            font-style: italic;
        }
        .list {
            margin: 0;
            padding: 0;
            .prodBox {
                display: block;
                padding: 1em;
                margin: 0.5em auto;
                text-align: left;
                font-size: 1.5em;
                background-color: $white;
                border: $grayLight solid 1px;
                position: relative;
                a.imgBlock {
                    float: left;
                    width: 15%;
                    display: block;
                    img {
                        margin: 0;
                        border: $grayDark solid 1px;
                        width: 100%;
                        height: 100%;
                    }
                }
                &:hover {
                    background-color: $grayLight;
                    @extend %transDesk1;
                    color: $white;
                }
                .description {
                    float: right;
                    width: 80%;
                    display: block;
                    h1 {
                        font-size: 1em;
                        border: none;
                        margin: 0;
                        color: $id1;
                    }
                    p {
                        font-size: 0.8em;
                        text-align: left;
                        color: $grayDark;
                    }
                    span.size {
                        color: $id2;
                        font-size: 1em;
                        display: block;
                        margin: 0;
                        padding: 1em 0;
                    }
                    span.price {
                        color: $black;
                        font-size: 1.3em;
                        display: unset;
                        margin: 0;
                        padding: 0.2em;
                        background: $id2Light;
                    }
                    input.qty {
                        height: 2em;
                        width: 7.3em;
                        float: right;
                        position: absolute;
                        right: 1.2em;
                        bottom: 4em;
                        font-size: 1em;
                        text-align: center;
                    }
                    a.addProduct {
                        color: $white;
                        background: $id1;
                        font-size: 1.2em;
                        display: inline-block;
                        margin: 0;
                        padding: 0.5em;
                        float: right;
                        bottom: 1em;
                        right: 1em;
                        width: 6.1em;
                        height: 2em;
                        text-align: center;
                        position: absolute;
                    }
                }
            }
            .prodBoxCart {
                display: block;
                padding: 1em 0.5em;
                margin: 0.5em auto;
                text-align: left;
                font-size: 1.5em;
                background-color: $white;
                border: $grayLight solid 1px;
                position: relative;
                a.imgBlock {
                    float: left;
                    width: 5%;
                    display: block;
                    img {
                        margin: 0;
                        border: $grayDark solid 1px;
                        width: 100%;
                        height: 100%;
                    }
                }
                &:hover {
                    background-color: $grayLight;
                    @extend %transDesk1;
                    color: $grayDark;
                }
                .cartList {
                    width: 100%;
                    display: block;
                    li {
                        list-style: none;
                        display: inline-flex;
                        padding: 0;
                        margin: 0;
                        vertical-align: middle;
                        width: 12%;
                        &.img {
                            width: 11%;
                            img {
                                margin: 0 0.5em;
                                border: $grayDark solid 1px;
                                width: auto;
                                max-height: 5em;
                            }
                        }
                        &.name {
                            width: 65%;
                        }
                        &.qty {
                            width: 7%;
                        }
                        &.price {
                            width: 9%;
                        }
                        &.del {
                            width: 7%;
                            a {
                                padding: 0.5em;
                                width: 100%;
                                background: $id1;
                                text-align: center;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        #total{
            display: block;
            background-color: $grayLight;
            padding: 1em;
            text-align: right;
            font-size: 1.5em;
            color: $id1;
        }
        #finalize {
            display: unset;
            background-color: $id1;
            padding: 1em;
            margin: 1em 0 0 0;
            font-size: 1.5em;
            text-align: center;
            color: $white;
            float: right;
        }
        .final {
            display: block;
            padding: 3em 0 0 0;
            text-align: center;
            font-size: 3em;
            color: $id1;
            line-height: 1.5em;
        }
        .line {
            border-top: $id1 solid 1px;
            margin: 2em 0;
        }
        .button {
            font-size: 1.2em;
            color: $white;
            background-color: $id2;
            width: auto;
            margin: 0 auto;
            padding: 0.5em 1em;
            display: table;
            border: none;
        }
    }
}

/* ------------------------ MOBILE 1190px ------------------------ */
/* ------------------------ MOBILE 1190px ------------------------ */
/* ------------------------ MOBILE 1190px ------------------------ */
@media screen and (max-width: 990px) {

    body { 
        background-color: $white;
        width: 100%;
        margin: 0 auto;
        font-family: arial;
        font-size: 1rem; /*16px*/
        min-height: 100vh;
        position: relative;
        form {
            padding: 5vw 0 15vw 0;
        }
    }
    a {
        color: $black;
        text-decoration: none;
        padding: 3px 5px;
        &:hover, &:focus {
            color: $white;
            text-decoration: none;
        }
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    header {
        margin: 0;
        width: 100%;
        text-align: center;
        display: block;
        nav#menu {
            margin: 0;
            .menu {
                display: none;
                padding: 0;
                margin-top: 0;
                margin-bottom: 0;
                list-style: none;
                li {
                    flex: auto;
                    text-align: center;
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                    a {
                        color: $white;
                        text-decoration: none;
                        font-size: 6vw;
                        font-weight: normal;
                        line-height: 8vw;
                        display: block;
                        padding: 3vw 0;
                        background: $id1Dark;
                        border-top: $id1Light solid 1px;
                        &:hover {
                            color: $gray;
                            background: $id1;
                        }
                    }
                }
                li:last-child { 
                    border: none;
                }
            }
            #logo-desktop {
                display: none;
            }        
            #toggle-menu {
                background: url("../img/menu.svg") 82vw 0 $id1 no-repeat;
                background-size: 19vw 15vw;
                width: 100vw;
                height: 15vw;
                padding: 0;
                cursor: pointer;
                img#logo-menu {
                    height: 15vw;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
    footer {
        background-color: $gray;
        display: table;
        border-top: 1px solid $id1;
        bottom: 0;
        margin: 0;
        padding: 3vw 2vw;
        width: 100vw;
        height: 10vw;
        position: absolute;
        text-align: center;
        font-size: 4vw;
        color: $id1Dark;
    }
    section#main {
        padding: 4vw 7vw 7vw 7vw;
        h1 {
            font-size: 7vw;
            color: $grayDark;
            border-bottom: $id1 solid 1px;
            margin: 5vw 0;
            padding: 0 0 2vw 0;
            font-style: italic;
            font-weight: normal;
        }
        .list {
            margin: 0;
            padding: 0;
            .prodBox {
                display: block;
                padding: 5vw;
                margin: 5vw auto;
                text-align: left;
                font-size: 4vw;
                background-color: $grayLight;
                border: $grayDark solid 1px;
                position: relative;
                a.imgBlock {
                    width: 100%;
                    display: block;
                    margin: 0;
                    text-align: center;
                    img {
                        border: $grayDark solid 1px;
                        margin: 0 auto;
                        width: auto;
                        max-height: 25vh;
                    }
                }
                .description {
                    width: 100%;
                    padding: 2vw 0 0 0;
                    display: block;
                    h1 {
                        font-size: 6vw;
                        border: none;
                        margin: 0 0 3vw 0;
                        color: $id1;
                        text-align: center;
                    }
                    p {
                        font-size: 5vw;
                        text-align: center;
                        line-height: 6vw;
                        color: $grayDark;
                        padding: 0;
                        margin: 0 0 5vw 0;
                    }
                    span.size {
                        display: inline-block;
                        width: 49%;
                        margin: 0.5%;
                        padding: 4vw 0;
                        font-size: 4vw;
                        text-align: center;
                        color: $black;
                        background: $white;
                    }
                    span.price {
                        display: inline-block;
                        width: 49%;
                        margin: 0.5%;
                        padding: 4vw 0;
                        font-size: 4vw;
                        text-align: center;
                        color: $black;
                        background: $id2Light;
                    }
                    input.qty {
                        display: inline-block;
                        width: 49%;
                        margin: 0.5%;
                        padding: 3.5vw 0;
                        font-size: 4vw;
                        text-align: center;
                        color: $black;
                        background: $gray;
                        border: none;
                    }
                    a.addProduct {
                        display: inline-block;
                        width: 49%;
                        margin: 0.5%;
                        padding: 4vw 0;
                        font-size: 4vw;
                        text-align: center;
                        color: $white;
                        background: $id1;
                    }
                }
            }
            .prodBoxCart {
                display: block;
                padding: 2vw 0.5vw;
                margin: 2vw auto;
                text-align: left;
                font-size: 4vw;
                background-color: $white;
                border: $grayLight solid 1px;
                position: relative;
                a.imgBlock {
                    float: left;
                    width: 5%;
                    display: block;
                    img {
                        margin: 0;
                        border: $grayDark solid 1px;
                        width: 100%;
                        height: 100%;
                    }
                }
                &:hover {
                    background-color: $grayLight;
                    color: $grayDark;
                }
                .cartList {
                    width: 100%;
                    display: block;
                    li {
                        list-style: none;
                        display: inline-flex;
                        padding: 0;
                        margin: 0;
                        vertical-align: middle;
                        width: 13%;
                        &.img {
                            display: none;
                        }
                        &.name {
                            width: 60%;
                            padding: 0 2.5vw;
                        }
                        &.qty {
                            width: 10%;
                        }
                        &.price {
                            width: 17%;
                        }
                        &.del {
                            width: 11%;
                            a {
                                padding: 0.5em;
                                width: 100%;
                                background: $id1;
                                text-align: center;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        .line {
            border-top: $id1 solid 1px;
            margin: 4vw 0 6vw 0;
        }
        #total {
            display: block;
            background-color: $grayLight;
            padding: 5vw;
            font-size: 4vw;
            text-align: center;
            color: $id1;
        }
        #finalize {
            display: block;
            background-color: $id1;
            padding: 5vw;
            margin: 5vw 0 0 0;
            font-size: 4vw;
            text-align: center;
            color: $white;
        }
        .final {
            display: block;
            padding: 10vw 0;
            text-align: center;
            font-size: 8vw;
            color: $id1;
            line-height: 12vw;
        }
        .button {
            font-size: 5vw;
            color: $white;
            background-color: $id2;
            margin: 10vw auto;
            padding: 2.5vw 3vw;
            display: table;
            border: none;
            text-align: center;
        }
    }
}